* {
    font-family: 'Roboto Condensed';
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(329deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.login-container {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #303030;
    border: 1px solid black;
    border-radius: 33px;

}

input {
    margin: 1.5em;
    padding: 0.25em;
}


@media only screen and (max-device-width: 600px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

}